
@{
    ViewBag.Title = "Index";

}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Content/Laptop.js"></script>


<h2>Index</h2>

<label>Name:</label>
<input type="text" id="txtName" placeholder="Enter your name" />
<br />
<br />
<label>Product:</label>
<input type="text" id="txtProduct" placeholder="Enter your product" />
<br />
<br />
<label>price:</label>
<input type="number" id="txtprice" placeholder=" Enter your price" />
<br />
<br />
<label>SPrice:</label>
<input type="number" id="txtSPrice" placeholder=" Enter your SPrice" />
<br />
<br />
<label>Date:</label>
<input type="date" id="txtDate" />
<br />
<br />
<label>Model_no:</label>
<input type="number" id="txtModel_no" placeholder=" Enter your model_no" />
<br />
<br />
<button onclick="SaveLaptop()">Submit</button>